
<section class=" flex flex-row justify-center text-center h-20 fixed w-full   z-20 backdrop-blur  header">

    <img class=" h-full justify-center items-center gap-10 p-2" src="Logo_Nodo_Solo.png" alt="">


    <div class="w-full h-full justify-center align-middle gap-10 p-2 flex textoNormal">

        <button  class=" btn-header h-full "><p>Programas</p></button>
        <button  class=" btn-header h-full  "><p>Tecnologias</p></button>
        <button  class=" btn-header h-full  "><p>Contacto</p></button>
       
    </div>
    <div class=" justify-center items-center gap-10 p-2">
        <button  class=" btn-header h-full textoNormal "><p>Login</p></button>
    </div>
  
</section>