<footer
  class="bg-black w-auto h-auto flex flex-row items-center justify-around"
>
  <div class="flex flex-col relative items-center">
    <img class="relative h-28 m-4" src="Logo_Nodo_Solo.png" />
    <div class="flex flex-row items-center gap-4">
      <a target="_blank" href="https://www.youtube.com/">
        <img
          class="rounded-full h-12 filter invert mb-6"
          src="/instagram_black.png"
          alt=""
        /><!--Falta poner los links bien-->
      </a>
      <a target="_blank" href="https://www.youtube.com/">
        <img
          class="rounded-full h-12 filter invert mb-6"
          src="/linkedin_black.png"
          alt=""
        /><!--Falta poner los links bien-->
      </a>
      <a target="_blank" href="https://www.youtube.com/">
        <img
          class="rounded-full h-12 filter invert mb-6"
          src="/github_black.png"
          alt=""
        /><!--Falta poner los links bien-->
      </a>
    </div>
  </div>
  <!--division de footer-->
  <div class="flex flex-col gap-5">
    <a
      class="gap-5 relative flex flex-row  font-bold text-xl text-white"
      href="mailto:carloscabreracriado@gmail.com"
    >
      <img class="h-9 filter invert" src="enviar_correo_negro.png" /> Envianos
      un correo</a
    >
    <a
      class="gap-5 relative flex flex-row  font-bold text-xl text-white"
      href="tel:+34690168013"
    >
      <img class="h-9 filter invert" src="telefono_black.png" />Llamanos por
      telefono</a
    >
  </div>
</footer>
