<section class="bg-zinc-900 w-screen">
  <!--fondo toda la pantalla-->

  <div
    class="fondo w-screen min-h-screen justify-center items-center relative flex flex-col"
  >
    <div class=" text-al flex-col gap-8 top-6 real fade-in-imagen">
      <!---Logo y nombre-->
      <a routerLink="/inicio"><img src="Logo_Nodo_Solo.png" class="m-auto mt-3 h-32 " /></a>
      <h1 class="decoration-double text-2xl font-black  text-white m-3 relative">
        Nodus Development
      </h1>
    </div>
    <div
      class="w-[40rem] max-w-full justify-start flex rounded-3xl p-8 text-xl  gap-40 bg-opacity-5 bg-white relative mb-20"
    >
      <!--formulario-->
      <form class="flex-col flex gap-5 w-full ">
        <div class="flex-col flex gap-2 relative">
          <label class="text-2xl  font-bold text-white"
            ><!--formulario nombres-->
            Nombre*
          </label>
          <input
            class="h-10 relative rounded-xl bg-gray-300 font-mono p-2"
            placeholder="Emilio"
            id="Nombre"
            required
          />
          <!--barra para ponre nombres-->
        </div>
        <div class="flex-col flex gap-2 relative">
          <label class="text-2xl  font-bold text-white"
            ><!--formulario nombres-->
            Apellidos*
          </label>
          <input
            class="h-10 relative rounded-xl bg-gray-300 font-mono p-2"
            placeholder="Diaz Tejera"
            id="Nombre"
            required
          />
          <!--barra para ponre nombres-->
        </div>
        <div class="flex-col flex gap-2 relative">
          <label class="text-2xl  font-bold text-white"
            ><!--formulario nombres-->
            E-mail*
          </label>
          <input
            class="h-10 relative rounded-xl bg-gray-300 font-mono p-2"
            placeholder="E-mai@gmail.com"
            id="Nombre"
            required
          />
          <!--barra para ponre nombres-->
        </div>
        <div class="flex-col flex gap-2 relative w-full">
          <label class="text-2xl  font-bold text-white"
            ><!--formulario nombres-->
            Nombre de empresa*
          </label>
          <input
            class="h-10 w-full relative rounded-xl bg-gray-300 font-mono p-2"
            placeholder="Nodus Development"
            id="Nombre"
            required
          />
          <!--barra para ponre nombres-->
        </div>
        <div class="flex-col flex gap-2 relative">
          <label class="text-2xl  font-bold text-white"
            ><!--formulario nombres-->
            Telefono*
          </label>
          <input
            class="h-10 relative rounded-xl bg-gray-300 font-mono p-2 " font-mono
            placeholder="+34 (634975689)"
            id="Nombre"
            required
          />
          <!--barra para ponre nombres-->
        </div>
        <div class="flex-col flex gap-2 relative">
          <label class="text-2xl  font-bold flex flex-wrap text-white"
            ><!--formulario nombres-->
            ¿En qué podemos ayudarte?
          </label>

          <textarea
            class="h-40 relative rounded-xl bg-gray-300 font-mono p-2"
            
            placeholder="Texto"
          ></textarea>

          <button
            type="submit"
            class="boton_azul_centro mt-10"
          >
            Enviar formulario
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
