<section class="bg-zinc-900 w-screen textoNormal">
  <!--fondo toda la pantalla-->

  <div
    class="fondo w-screen min-h-screen justify-center items-center relative flex flex-col"
  >
    <div class=" text-al flex-col gap-8 top-6 real fade-in-imagen">
      <!---Logo y nombre-->
      <a routerLink="/inicio"><img src="Logo_Nodo_Solo.png" class="m-auto mt-3 h-32 " /></a>
      <h1 class="decoration-double text-2xl font-black  text-white m-3 relative">
        Nodus Development
      </h1>
    </div>
    <div
      class="sm:w-[40rem] sm:max-w-full w-10/12 justify-start flex rounded-3xl p-8 text-xl  sm:gap-40 bg-opacity-5 bg-white relative mb-20 "
    >
      <!--formulario-->
      <form class="flex-col flex gap-2 w-full ">
        <div class="flex-col flex gap-2 relative">
          <label class="text-xl   text-white"
            ><!--formulario nombres-->
            Nombre y apellidos*
          </label>
          <input
            class="h-10 relative rounded-xl bg-gray-300 textoNormal p-2"
            placeholder="Emilio Diaz Tejera"
            id="Nombre"
            required
          />
          <!--barra para ponre nombres-->
       
      
          <!--barra para ponre nombres-->
        </div>
        <div class="flex-col flex gap-2 relative">
          <label class="text-xl   text-white"
            ><!--formulario nombres-->
            E-mail*
          </label>
          <input
            class="h-10 relative rounded-xl bg-gray-300 textoNormal p-2"
            placeholder="E-mai@gmail.com"
            id="Nombre"
            required
          />
          <!--barra para ponre nombres-->
        </div>
        
        <div class="flex-col flex gap-2 relative">
          <label class="text-xl   text-white"
            ><!--formulario nombres-->
            Telefono*
          </label>
          <input
            class="h-10 relative rounded-xl bg-gray-300 textoNormal p-2 " font-mono
            placeholder="+34 (634975689)"
            id="Nombre"
            required
          />
          <!--barra para ponre nombres-->
        </div>
        <div class="flex-col flex gap-2 relative">
          <label class="text-xl   flex flex-wrap text-white"
            ><!--formulario nombres-->
            ¿En qué podemos ayudarte?
          </label>

          <textarea
            class="h-40 relative rounded-xl bg-gray-300 textoNormal p-2"
            
            placeholder="Texto"
          ></textarea>

          <button
            type="submit"
            class="boton_azul_centro mt-4"
          >
            Enviar formulario
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
