<section class="bg-zinc-900 w-screen">
    <!--fondo toda la pantalla-->
  
    <div
      class="fondo w-screen min-h-screen justify-center items-center relative flex flex-col"
    >
      <div class=" text-al flex-col gap-8 top-6 real fade-in-imagen mt-10">
        <!---Logo y nombre-->
        <a routerLink="/inicio"><img src="Logo_Nodo_Solo.png" class="m-auto mt-3 h-32 " /></a>
        <h1 class="decoration-double text-2xl font-black  text-white m-3 relative mb-20">
          Nodus Development
        </h1>
      </div>
      <div
        class="w-[40rem] max-w-full justify-start flex rounded-3xl p-8 text-xl  gap-40 bg-opacity-5 bg-white relative mb-20"
      >
        <!--formulario-->
        <form class="flex-col flex gap-2 w-full justify-start textoNormal">
          <div class="flex-col flex gap-2 relative justify-start text-center ">
            <label class="text-xl  text-white flex justify-start"
              ><!--formulario nombres-->
              Correo Electronico
            </label>
            <div class="w-full flex justify-start"><input
              class="h-10 relative rounded-xl bg-gray-300 textoNormal text-lg p-2 flex text-start w-full"
              placeholder="Emilio@gmail.com"
              id="Nombre"
              required
            /></div>
            <!--barra para ponre nombres-->
          </div>
          <div class="flex-col flex gap-2 relative">
            <label class="text-xl   text-white flex justify-start"
              ><!--formulario nombres-->
              Contraseña
            </label>
            <div class="flex justify-center w-full"><input
              class="h-10 relative rounded-xl bg-gray-300 textoNormal p-2  flex text-start w-full"
              placeholder="**********"
              id="Nombre"
              required
            /></div>
            <!--barra para ponre nombres-->
          </div>
         
        
          <div class="form-control flex justify-center w-full">
            <label class="label cursor-pointer justify-center gap-3">
                <input type="checkbox" checked="checked" class="checkbox border-white" />
                <span class="label-text text-white textoNormal">Mantener sesión iniciada</span>
              
            </label>
          </div>
          

         <div class="w-full flex justify-center"> <button  class=" boton_azul_centro w-1/2 justify-center">Login</button></div>
    
        </form>


      </div>
    </div>
  </section>
