<app-header></app-header>

<main class="relative w-screen flex-1 flex flex-col overflow-x-hidden">
  <router-outlet></router-outlet>
</main>

<app-footer class="z-10"></app-footer>


<div
  class="fixed bottom-0 right-0 z-50 bg-red-700 sm:bg-yellow-700 md:bg-purple-500 lg:bg-blue-700 xl:bg-green-700"
>
  <span class="text-white block sm:hidden">M</span>
  <span class="text-white hidden sm:block md:hidden">SM</span>
  <span class="text-white hidden md:block lg:hidden">MD</span>
  <span class="text-white hidden lg:block xl:hidden">LG</span>
  <span class="text-white hidden xl:block">XL</span>
</div>


