@tailwind base;
@tailwind components;
@tailwind utilities;

.fondo{
    background-position: 0 0, 0 0;
    background-repeat: repeat, repeat;
    background-size: auto, auto;
    background-image: radial-gradient(circle at 30% 0, #3a55ca29, #87a1ff00 38%), radial-gradient(circle at 0 0, #5b2eb685, #5d399200 56%);
}

html {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.saira-condensed-thin {
    font-family: "Saira Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .saira-condensed-extralight {
    font-family: "Saira Condensed", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .saira-condensed-light {
    font-family: "Saira Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .textoNormal {
    font-family: "Saira Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .saira-condensed-medium {
    font-family: "Saira Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .saira-condensed-semibold {
    font-family: "Saira Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .saira-condensed-bold {
    font-family: "Saira Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .saira-condensed-extrabold {
    font-family: "Saira Condensed", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .saira-condensed-black {
    font-family: "Saira Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .colorNodus{
    color: rgb(194 195 200);
  }