<section class="fondo bg-black h-screen justify-center flex items-center gap-6">
    <img class="flex absolute h-screen" src="fondo_olas.svg">
   <div class="flex flex-col justify-center items-center gap-8">
    <a class="relative flex" routerLink="/contacto"><img class="m: h-40 sm:h-48 lg:h-auto md:h-60 relative flex m-5 fade-in-imagen"  src="Logo_Nodo_Solo.png"></a>
    <h1 class="text-white flex justify-center  text-3xl sm:text-4xl md:text-6xl z-50">NODUS DEVELOPMENT</h1>
  <button class=" boton_azul_centro" routerLink="/contacto">Contactanos</button>
  </div> 

</section>
<div class="min-h-screen flex  items-center flex-col relative  text-center">
    <h1 class="text-4xl sm:text-5xl md:text-5xl  lg:text-6xl xl:text-7xl flex relative p-10">Servicios y programas que podemos ofrecer</h1>
    <div class="lg:w-9/12 lg:px-0 textoNormal flex relative w-full items-center justify-center text-center text-xl px-10">Ofrecemos una variedad de servicios de desarrollo web personalizados diseñados para adaptarse a empresas de todos los tamaños. Ya sea que necesite un sitio web dinámico, una plataforma de comercio electrónico o una aplicación web personalizada, nuestro equipo de expertos ofrece soluciones seguras, escalables y de alta calidad.
    </div>

   

    <!--contenedpr de columnas de servicios y programas que ofrecemos-->
<div class="flex flex-wrap flex-row justify-around ">

     <div class="flex flex-col gap-5 w-full lg:w-1/3 p-5"><!--columna de 3 o 4 servicios-->
      <div class="collapse collapse-arrow bg-base-200">
        <input type="radio" name="my-accordion-2" checked="checked" />
        <div class="collapse-title text-xl font-medium flex flex-row relative m-1 gap-3 items-center"> <img class="relative h-10 flex" src="diseño_web.png">Diseño y desarrollo web a medida</div>
        <div class="collapse-content">
          <p class="textoNormal">We offer comprehensive web support and maintenance services, ensuring your website remains secure, up-to-date, and optimized for peak performance. From regular updates and security patches to troubleshooting and performance optimization, we ensure smooth website operation. Proactive monitoring and responsive support safeguard your web presence, enhancing user satisfaction.</p>
        </div>
      </div>
      <div class="collapse collapse-arrow bg-base-200">
        <input type="radio" name="my-accordion-2" />
        <div class="collapse-title text-xl font-medium flex flex-row relative m-1 gap-3 items-center"> <img class="relative h-10 flex" src="base_datos.png">Diseño implementacion de base de datos</div>
        <div class="collapse-content">
          <p class="textoNormal">We offer comprehensive web support and maintenance services, ensuring your website remains secure, up-to-date, and optimized for peak performance. From regular updates and security patches to troubleshooting and performance optimization, we ensure smooth website operation. Proactive monitoring and responsive support safeguard your web presence, enhancing user satisfaction.</p>
        </div>
      </div>
      <div class="collapse collapse-arrow bg-base-200">
        <input type="radio" name="my-accordion-2" />
        <div class="collapse-title text-xl font-medium flex flex-row relative m-1 gap-3 items-center"> <img class="relative h-10 flex" src="mantenimiento-web.png">Mantenimiento Web</div>
        <div class="collapse-content">
          <p>hello</p>
        </div>
      </div>
     </div>

     <div class="flex flex-col gap-5  w-full lg:w-1/3 py-0 lg:py-5 px-5 lg:px-0"><!--columna de 3 o 4 servicios-->
      <div class="collapse collapse-arrow bg-base-200">
        <input type="radio" name="my-accordion-2" checked="checked" />
        <div class="collapse-title text-xl font-medium flex flex-row relative m-1 gap-3 items-center"> <img class="relative h-10 flex" src="compras_online.png">Compras Online (e-commerce)</div>
        <div class="collapse-content">
          <p>hello</p>
        </div>
      </div>
      <div class="collapse collapse-arrow bg-base-200">
        <input type="radio" name="my-accordion-2" />
        <div class="collapse-title text-xl font-medium flex flex-row relative m-1 gap-3 items-center"> <img class="relative h-10 flex" src="servidor.png">Programacion y mantenimiento de servidores</div>
        <div class="collapse-content">
          <p>hello</p>
        </div>
      </div>
      <div class="collapse collapse-arrow bg-base-200">
        <input type="radio" name="my-accordion-2" />
        <div class="collapse-title text-xl font-medium flex flex-row relative m-1 gap-3 items-center"> <img class="relative h-10 flex" src="aplicaciones_movil.png">Aplicaciones moviles</div>
        <div class="collapse-content">
          <p>hello</p>
        </div>
      </div>
     </div>

     <div class="flex flex-col gap-5  w-full lg:w-1/3 p-5"><!--columna de 3 o 4 servicios-->
      <div class="collapse collapse-arrow bg-base-200">
        <input type="radio" name="my-accordion-2" checked="checked" />
        <div class="collapse-title text-xl font-medium flex flex-row relative m-1 gap-3 items-center"> <img class="relative h-10 flex" src="automatizacion.png">Automatización de procesos</div>
        <div class="collapse-content">
          <p>hello</p>
        </div>
      </div>
      <div class="collapse collapse-arrow bg-base-200">
        <input type="radio" name="my-accordion-2" />
        <div class="collapse-title text-xl font-medium flex flex-row relative m-1 gap-3 items-center"> <img class="relative h-10 flex" src="aplicaciones_escritorio.png">Aplicaciones de escritorio</div>
        <div class="collapse-content">
          <p>hello</p>
        </div>
      </div>
      <div class="collapse collapse-arrow bg-base-200">
        <input type="radio" name="my-accordion-2" />
        <div class="collapse-title text-xl font-medium flex flex-row relative m-1 gap-3 items-center"> <img class="relative h-10 flex" src="seo.png">Optimización SEO</div>
        <div class="collapse-content">
          <p>hello</p>
        </div>
      </div>
     </div>


     

</div>
<section class="flex flex-col w-full justify-center items-center mt-5 bg-black">
<div class="colorNodus text-3xl md:text-4xl lg:text-8xl mt-5">
  Nuestras tecnologias
</div>
<!--contenedor de imagenes tecnologias-->
<div class="flex flex-row justify-around w-full flex-wrap p-10">
  <img class="bg-white rounded-2xl p-5 h-20 lg:h-52 mb-5" src="angular.webp">
  <img class="bg-white rounded-box p-5 h-20 lg:h-52 mb-5" src="logo-node.png">
  <img class="bg-white rounded-box p-5 h-20 lg:h-52 mb-5" src="html.png">
  <img class="bg-white rounded-box p-5 h-20 lg:h-52 mb-5" src="css.png">
  <img class="bg-white rounded-box p-5 h-20 lg:h-52 mb-5" src="java-script.webp">
  <img class="bg-white rounded-box p-5 h-20 lg:h-52 mb-5" src="logo-mysql.png">
  <img class="bg-white rounded-box p-5 h-20 lg:h-52 mb-5" src="ionic.webp">
  <img class="bg-white rounded-box p-5 h-20 lg:h-52 mb-5" src="electron.png">
</div>
</section>


</div>
<app-contacto></app-contacto>