<body class="bg-black h-screen justify-center flex items-center gap-6">
    <img class="flex absolute h-screen" src="fondo_olas.svg">
   <div class="flex flex-col justify-center items-center gap-8">
    <a class="relative flex" routerLink="/contacto"><img class="relative flex m-5 fade-in-imagen"  src="Logo_Nodo_Solo.png"></a>
    <h1 class="text-white flex justify-center  text-6xl z-50">NODUS DEVELOPMENT</h1>
  <button class="boton_azul_centro" routerLink="/contacto">Contactanos</button>
</div> 



</body>
